{% extends "hw_ten_app/base.html" %}

{% block content %}
<div class="container">-->
    <h2 class="mb-3">Login User</h2>
    {% if messages %}
    <div>
        {% for message in messages %}
        <div {% if message.tags %} class="alert-{{ message.tags }}" {% endif %}>{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}

    <form action="{% url 'users:login' %}" method="post">
        {% csrf_token %}
        <div>
            <label> Username:
                {{ form.username }}
            </label>
        </div>

        <div>
            <label>Password:
                {{ form.password }}
            </label>
        </div>

        <div class="grid">
            <button type="submit">Submit</button>
            <button type="reset" class="secondary">Reset</button>
        </div>
    </form>
</div>
    {% endblock %}

    <!--{% extends "hw_ten_app/base.html"%}-->

    <!--{% block content %}-->
    <!--<div class="container">-->
    <!--    <h2 class="mb-3">Login User</h2>-->

    <!--    {% if messages %}-->
    <!--    <div class="messages">-->
    <!--        {% for message in messages %}-->
    <!--        <span {% if message.tags %} class="alert alart-{{ message.tags }}"-->
    <!--            {% endif %}> {{ message }}</span>-->
    <!--        {% endfor %}-->
    <!--    </div>-->
    <!--    {% endif %}-->

    <!--    {% if from.errors and from.non_field_errors %}-->
    <!--    <span class="alert alert-danger" role="alert">{{from.non_field_errors}}</span>-->
    <!--    {% endif %}-->

    <!--    <form method="post">-->
    <!--        {% csrf_token %}-->
    <!--        <div class="mb-3">-->
    <!--            <label class="form-label">Username-->
    <!--                {{ form.username }}-->
    <!--            </label>-->
    <!--            <span>{{form.errors.username}}</span>-->
    <!--        </div>-->

    <!--        <div class="mb-3">-->
    <!--            <label class="form-label">Password-->
    <!--                {{ form.password }}-->
    <!--            </label>-->
    <!--            <span>{{form.errors.password}}</span>-->
    <!--        </div>-->

    <!--        <div class="mb-3">-->
    <!--            <button type="submit" class="btn btn-primary">Send</button>-->
    <!--            <button type="reset" class="btn btn-secondary">Reset</button>-->
    <!--        </div>-->
    <!--    </form>-->
    <!--</div>-->
    <!--{% endblock %}-->
